<h1>Guess the correct spelling</h1>
<br>
<%= form_with url: try_week_guess_path, method: :post, local: true do %>
  <div class="guess-container">
    <% @words.each do |word| %>
      <%= button_tag word, name: "guess", value: word, class: "btn guess-button #{"btn-primary" if @guessed && word == @word.title}" %>
    <% end %>
  </div>
<% end %>