<div class="logged-out-container">
  <%= header %>
  <span class="spacer"></span>
  <div class="logged-out-box" style="background: url('<%= asset_path(random_logged_out_image) %>') center/cover no-repeat;">
    <%= content %>
  </div>
  <span class="spacer"></span>
</div>