.flash-container {
  max-width: 90vw;
  position: absolute;
  top: 24px;
  left: 24px;
  min-width: 500px;
  z-index: 9999;
  border-radius: 6px;
  padding: 14px 24px;
  font-size: 1rem;
  pointer-events: none;
}

@media (max-width: calc(768px - 0.02px)) {
  .flash-container {
    min-width: 100%;
    left: 0;
    top: 0;
    padding: 10px;
  }
}